<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>

      <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-card>
      <ion-input placeholder="Biografia" clearInput class="biografia"></ion-input>
    </ion-card>
  </ion-list>

<ion-button expand="block">Enviar</ion-button>
</ion-content>
